@{
    ViewData["Title"] = "Admin Area";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h3 class="text-center">Greetings Administrator!</h3>

<h4>Application Statistics:</h4>
<div class="col-11">
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-primary" id="totalOrders"></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-warning" id="totalPendingOrders"></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-success" id="totalCompletedOrders"></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-info" id="totalPartsCreated"></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-danger" id="totalRegisteredUsers"></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistic-box">
            <h5 class="text-secondary" id="totalReviews"></h5>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'api/statistics',
            type: 'GET',
            success: function (data) {
                $('#totalOrders').text('Total Orders: ' + data.totalOrders);
                $('#totalPendingOrders').text('Total Pending Orders: ' + data.totalPendingOrders);
                $('#totalCompletedOrders').text('Total Completed Orders: ' + data.totalCompletedOrders);
                $('#totalPartsCreated').text('Total Parts Created By Users: ' + data.totalPartsCreated);
                $('#totalRegisteredUsers').text('Total Registered Users: ' + data.totalRegisteredUsers);
                $('#totalReviews').text('Total Reviews Written: ' + data.totalReviews);
            },
            error: function () {
                $('#totalOrders').text('Total Orders: Unavailable');
                $('#totalPendingOrders').text('Total Pending Orders: Unavailable');
                $('#totalCompletedOrders').text('Total Completed Orders: Unavailable');
                $('#totalPartsCreated').text('Total Parts Created By Users: Unavailable');
                $('#totalRegisteredUsers').text('Total Registered Users: Unavailable');
                $('#totalReviews').text('Total Reviews Written: Unavailable');
            }
            
        });
    });
</script>