
@{
    ViewBag.Title = "My orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<a asp-area="" asp-controller="Order" asp-action="Create" class="btn btn-primary flex-grow-1">Create new order</a>