@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .jumbotron {
        background-image: url('https://framerusercontent.com/images/oeSYcMimWfNiwhk5wSmENyyyrOc.png');
        background-size: cover;
        color: white;
        text-shadow: 1px 1px 530px rgba(0,0,0,1);
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }


    .benefit-list li {
        margin-bottom: 5px;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to my Fiber Laser Cutting workshop</h1>
        <p class="lead">Experience precision, speed, and quality with our advanced fiber laser cutting technology.</p>
    </div>
</div>

<div class="container">
    <h2>Why Choose Us?</h2>
    <ul class="benefit-list">
        <li><strong>Precision:</strong> Our fiber laser cutting technology ensures accurate and intricate cuts.</li>
        <li><strong>Speed:</strong> Benefit from rapid cutting speeds, leading to quick project turnaround times.</li>
        <li><strong>Versatility:</strong> Cut a wide range of materials, including metals, plastics, and composites.</li>
        <li><strong>Minimal Maintenance:</strong> Our machines require minimal maintenance, reducing downtime and costs.</li>
        <li><strong>Quality Assurance:</strong> We guarantee high-quality results with clean cuts and smooth edges.</li>
        <li><strong>Advanced Technology:</strong> Our machines feature advanced features for improved efficiency and accuracy.</li>
        <li><strong>Cost-effectiveness:</strong> Enjoy cost savings with reduced material waste and competitive pricing.</li>
        <li><strong>Customization and Personalization:</strong> We cater to your unique design and specification requirements.</li>
        <li><strong>Customer Support and Service:</strong> Count on our excellent service and support throughout the process.</li>
        <li><strong>Ready to experience the benefits of fiber laser cutting?</strong> <a href="#contact">Contact us</a> for a quote or more information.</li>
    </ul>
</div>