<div class="row d-flex align-items-center justify-content-center">
    <div class="card col-md-4">
        <div class="card-body">
            <h2 class="card-title" style="color:forestgreen">Offer succesfully accepted!</h2>
            <p>Soon our team will contact you on the given phone number to specify payment and delivery options!</p>
        </div>
    </div>
</div>
